{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="{% static 'assets/css/admin_home.css' %}" rel="stylesheet" />
  </head>
<body>

<h5>{{class}} - {{year}} - {{term}} (Defaulter's List)</h5>
<span><b>{{num_defaulters}}</b> Pupils Found</span>

<hr>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Parent</th>
          <th scope="col">Parent Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for defaulter in defaulters %}
        <tr>
            <td>{{defaulter.pupil_id}}</a></td>
            <td>{{defaulter.name}}</td>
            <td>{{defaulter.parent_id.name}}</td>
            <td>{{defaulter.parent_id.phone}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</body>